/* card titles */
.card-title {
  font-size: 20px;
}

/* img size */
img {
  width: 100px;
  height: 100px;
}

/* five day forecast colors */
.fiveDayColor {
  padding: 20px;
  background-color: lightcyan;
  color:black;
  float: left;
  margin: 15px;
  border: 2px solid gold;
}